<html>
    <head>
        <title>xlangforydevs: {{new_lang}} for {{known_lang}} Developers</title>
        <link rel="stylesheet" href="/styles/base.css">
    </head>
    <body>
        <h1>
            {{new_lang}} for {{known_lang}} Developers
        <h1>
        {{ content | safe }}
    </body>
</html>