{% extends "home.html" %}

{% block front_page_selector %}{% endblock %}

{% block other_stuff %}

Congratulations. You've just learnt your first programming language. A big acheivement, not going to lie.
<br><br>
Now you look at all those "big" programmers with hundreds of followers on GitHub and are like
"Dang. I wanna be like that guy. I want to be able to know what language to use depending on the situation and not search
a gazillion websites and packages for implementing something."
<br><br>
So you begin to learn your <i>second</i> programming language, and you figure it's much harder than you thought it'd be. 
"WTH. Why do we define classes this way; why can't I just have a simple `print` statement instead of this `Console`/`System` crap"

{% endblock %}


